<h1>Construct Your Own Dictionary!</h1>

<p>Add a new Vocabulary Word:</p>

<form action="/word" method="post">
  <label for="vocabWord">Vocabulary Word</label>
  <input id="vocabWord" name="vocabWord" type="text">

  <button type="submit" class="btn btn-default">Add Vocabulary Word</button>
</form>
